@media screen and (-ms-high-contrast: none) {
	body :FOCUS {
		outline: 2px solid #5e9ed6;
	}
}

@media  screen and (-ms-high-contrast: none) { .content :not(.test) { outline: 2px solid #5e9ed6; } }

.handsontable.htRowHeaders thead tr th:nth-child(2) {
	border-left: 1px solid #CCC;
}